<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1505562130589-9879683e72da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h2 class="text-center">
      <%= @cocktail.name %>
      <%= link_to "Write a review", new_cocktail_review_path(@cocktail), class:"btn btn-success mx-2" %>
    </h2>
    <br>
    <div class="d-flex justify-content-center my-3">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill, class:"rounded-lg" %>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-between">
      <% @cocktail.doses.each do |dose| %>
        <p class="text-dark bold">
          <%= dose.ingredient.name %> : <%= dose.description %>
          <%= link_to "Remove Dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger mx-2"%>
        </p>
      <% end %>
    </div>
    <br>
    <br>
    <div>
      <h5 class="text-primary bolder">User Reviews:</h5>
      <ul>
        <% @cocktail.reviews.each do |review| %>
        <li class="font-italic text-danger"><%= review.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
  <br>
</div>
<%= render "doses/new", cocktail: @cocktail, dose: @dose %>
<br>
<br>
<br>
<br>
