<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509448613959-44d527dd5d86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=720&q=80);">
  <div class="container">
    <h2>
      <%= @cocktail.name %>
    </h2>
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-between">
      <% @cocktail.doses.each do |dose| %>
        <p>
          <%= dose.ingredient.name %> : <%= dose.description %>
          <%= link_to "Remove Dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger mx-2"%>
        </p>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
</div>
