<div class="container px-5 mx-auto">
  <h5 class="py-5 text-center text-dark">Add a review for <%= @cocktail.name %></h5>
  <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs text-dark">
      <%= f.input :content %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
